doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Bienes Raices | #{title}
        link(rel="stylesheet", href="/css/styles.css")
    body.min-h-screen.bg-gray-100
        main(class="container mx-auto mt-10 p-4")
            block contenido